body{
  margin: 0;
  padding: 0;
  background-color: #fff;
}
form{
  width: 555px;
  margin: 100px;
  padding:20px;
  box-shadow: 0 3px 7px 0 #30475e; 0 3px 7px 0 #30475e;
}

h1{
  text-align: center;
}

.box1 {
  width: 100%;
  border-radius: 15px;

}
